.navbar {
    height: 80px;
}

.navbar__collapsable {
    display: none;
}

.navbar__collapsable > .MuiSvgIcon-root {
    cursor: pointer;
    font-size: 30px;
}

.navbar__top {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 1px solid whitesmoke;
}

.navbar__top  > h2 {
    margin: 10px 20px;
    font-weight: 800;
    letter-spacing: 1.2px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .navbar__collapsable {
        display: inline;
        padding: 40px 10px;
    }

    .navbar__top {
        display: none;
    }
}